node_modules
npm-debug.log
dist
.env
.env.local
.env.development
.env.test
.env.production
.git
.gitignore
README.md
Dockerfile
.dockerignore
coverage
.nyc_output
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.serverless
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

