DATABASE_URL="postgresql://postgres:123456@localhost:5432/ev_battery_swap?schema=public"
# Database

# Server
PORT=3000
NODE_ENV=development

# Frontend URL
FRONTEND_URL=http://localhost:5173

# JWT Secrets
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production-min-32-chars
JWT_REFRESH_SECRET=your-super-secret-refresh-token-key-change-this-in-production-min-32-chars
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d


# VNPay Payment Gateway (Sandbox)
VNPAY_TMN_CODE=DEMOMERCHANT
VNPAY_HASH_SECRET=RAOEXHYVSDDIIENYWSLDIIZTANXUXZFJ
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=http://localhost:3000/api/payments/vnpay/return
VNPAY_IPN_URL=http://localhost:3000/api/payments/vnpay/ipn

# Email Service (Gmail SMTP)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=leducthanh2405@gmail.com
EMAIL_PASSWORD=uvcb bzcy rxak odoy
EMAIL_FROM=EV Battery Swap <leducthanh2405@gmail.com>

# Track-Asia Maps
TRACKASIA_ACCESS_TOKEN=282255634d6176106559056ae3322b907b

# Cloudinary
CLOUDINARY_CLOUD_NAME=dcmgskcz2
CLOUDINARY_API_KEY=827916166673931
CLOUDINARY_API_SECRET=gxsV8c9cycfCTSNndeMDrSu1sIY
CLOUDINARY_URL=cloudinary://827916166673931:gxsV8c9cycfCTSNndeMDrSu1sIY@dcmgskcz2
